* {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-stretch: ultra-condensed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html, body {
    height: 100%;
}
body {
    color: #333;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}
.font-georgia1 {
    font-family: Georgia1, Georgia, serif;
}
.center-block {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.inl-block {
    display: inline-block;
    vertical-align: top;
}
.pull-left  {float: left;}
.pull-right {float: right;}

.margin-bottom {margin-bottom: 200px;}

header .top-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ffebb4;
    bottom: 10px;
    position: absolute;
    left: 0;
}
header.start-header {background: rgba(135, 42, 135, 0.9) url("/png/12.png") center no-repeat;}
header {
    width: 100%;
    box-sizing: border-box;
    min-height: 77px;
    background: rgba(135, 42, 135, 0.9);
    position: absolute;
    top: 0;
    z-index: 3;
}
header .start-lang.lang,
header .start-lang.lang a,
header .lang,
header .lang a,
header .about {
    color: #f2ded7;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
header .about {
    float: left;
    height: 77px;
    line-height: 77px;
}
header .start-lang.lang,
header .lang {
    float: right;
    height: 77px;
    line-height: 77px;
}

footer .top-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ffebb4;
    top: 10px;
    position: absolute;
    left: 0;
}
footer {
    width: 100%;
    box-sizing: border-box;
    min-height: 228px;
    background: rgba(135, 42, 135, 0.9);
    position: relative;
    z-index: 1;
}

footer .name {
    color: #f2ded7;
    font-size: 14px;
    text-transform: uppercase;
    background: url("/png/15.png") center 33px no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    max-width: 256px;
    width: 100%;
    height: 19px;
    padding-top: 70px;
}

footer .social {
    margin: 33px 0 17px 30px;
    display: inline-block;
    vertical-align: top;
}

footer .social .item {
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}
footer .social .item:last-child {margin-right: 0;}


.contacts-page .info-block .social .facebook,
                    footer .social .facebook  {background: url("/png/fb.png")      center no-repeat;}

.contacts-page .info-block .social .google,
                    footer .social .google    {background: url("/png/g.png")       center no-repeat;}

.contacts-page .info-block .social .instagram,
                    footer .social .instagram {background: url("/png/insta.png")   center no-repeat;}

.contacts-page .info-block .social .vk,
                    footer .social .vk        {background: url("/png/vk.png")      center no-repeat;}

.contacts-page .info-block .social .in,
                    footer .social .in        {background: url("/png/in.png")      center no-repeat;}

.contacts-page .info-block .social .twitter,
                    footer .social .twitter   {background: url("/png/twitter.png") center no-repeat;}


.contacts-page .info-block .social .facebook:active,
                    footer .social .facebook:active  {background: url("/png/fb_active.png")      center no-repeat;}

.contacts-page .info-block .social .google:active,
                    footer .social .google:active    {background: url("/png/g_active.png")       center no-repeat;}

.contacts-page .info-block .social .instagram:active,
                    footer .social .instagram:active {background: url("/png/insta_active.png")   center no-repeat;}

.contacts-page .info-block .social .vk:active,
                    footer .social .vk:active        {background: url("/png/vk_active.png")      center no-repeat;}

.contacts-page .info-block .social .in:active,
                    footer .social .in:active        {background: url("/png/in_active.png")      center no-repeat;}

.contacts-page .info-block .social .twitter:active,
                    footer .social .twitter:active   {background: url("/png/twitter_active.png") center no-repeat;}


.contacts-page .info-block .social .facebook:hover,
                    footer .social .facebook:hover  {background: url("/png/fb_hover.png")      center no-repeat;}

.contacts-page .info-block .social .google:hover,
                    footer .social .google:hover    {background: url("/png/g_hover.png")       center no-repeat;}

.contacts-page .info-block .social .instagram:hover,
                    footer .social .instagram:hover {background: url("/png/insta_hover.png")   center no-repeat;}

.contacts-page .info-block .social .vk:hover,
                    footer .social .vk:hover        {background: url("/png/vk_hover.png")      center no-repeat;}

.contacts-page .info-block .social .in:hover,
                    footer .social .in:hover        {background: url("/png/in_hover.png")      center no-repeat;}

.contacts-page .info-block .social .twitter:hover,
                    footer .social .twitter:hover   {background: url("/png/twitter_hover.png") center no-repeat;}

footer ul {padding-left: 5px;}

footer .list-menu {
    display: inline-block;
    vertical-align: top;
    margin: 40px 0 10px 0;
    list-style: none;
    max-width: 374px;
}
footer .list-menu a {
    font-size: 16px;
    line-height: 24px;
    color: #f2ded7;
    text-decoration: none;
}

footer .list-menu a:active {
    color: #f2ded7;
}
footer .list-menu a:hover {
    color: #f2ded7;
}
footer .list-menu a.active { color: #ffffff;}

footer .list-menu li {
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
}
footer .list-menu li:before {
    content:  "-";
    position: relative;
    left:     -5px;
    top: -2px;
    color: #f2ded7;
}
footer .list-menu li.last:after {
    content:  "-";
    position: relative;
    right:     -5px;
    top: -2px;
    color: #f2ded7;
}
footer .bottom-line {
    background-color: rgba(76, 21, 86, 0.8);
    min-height: 33px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 33px;
    font-size: 16px;
}
footer .bottom-line .center-block {
    text-align: center;
}
footer .bottom-line .center-block .inl-block {
    margin: 0 10px;
}
footer .design-link {
    text-align: right;
    color: #fff;
    position: relative;
    bottom: -82px;
    font-size: 14px;
}
footer .design-link a {
    color: #fff;
}
footer .copyright {
    font-size: 14px;
    color: #f2ded7;
    text-align: center;
    margin: 0 30px 14px;
}
.footer-block {
    background: url("/png/16.png") center 75px no-repeat;
    min-height: 215px;
    background-size: contain;
}

.start-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.start-page .item {
    text-decoration: none;
    text-align: center;
    font-size: 29px;
    color: #6f0c7a;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    min-height: 200px;
    height: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-page .item:active {color: #37003f;}
.start-page .item:hover {color: #c41fdb;}

.start-page .first-block,
.start-page .second-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.start-page .item.news {
    background: url("/png/10.png") center no-repeat;
}
.start-page .item.collection {
    background: url("/png/8.png") center no-repeat;
}
.start-page .item.action {
    background: url("/png/9.png") center no-repeat;
}
.start-page .item.contacts {
    background: url("/png/3.png") center no-repeat;
}
.start-page .item:hover .block-item {
    background: rgba(255, 255, 255, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.start-page .dummy,
.start-page .item.news,
.start-page .item.collection,
.start-page .item.action,
.start-page .item.contacts {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.start-page .dummy {
    background: url("/png/17.png") top center no-repeat;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 468px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -108px;
    top: 50%;
    margin-top: -234px;
    background-size: contain;
}

.about-page,
.action-page,
.english-page,
.page-action,
.contacts-page,
.collection-page,
.new-pages,
.news-page {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

.action-page .top-block     {background: url("/png/50.png")  top center no-repeat;}
.page-action .top-block     {background: url("/png/50.png")  top center no-repeat;}
.news-page .top-block       {background: url("/png/27.png") top center no-repeat;}
.collection-page .top-block {background: url("/png/30.png") top center no-repeat;}


.page-action .top-block,
.about-page .top-block,
.english-page .top-block,
.action-page .top-block,
.contacts-page .top-block,
.collection-page .top-block,
.news-page .top-block {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 574px;
    position: relative;
    margin-bottom: 70px;
}
.about-page .top-block span,
.page-action .top-block span,
.action-page .top-block span,
.contacts-page .top-block span,
.collection-page .top-block span,
.news-page .top-block span {
    position: absolute;
    top: 90px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    height: 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 29px;
    line-height: 50px;
    color: #6f0c7a;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
}
.contacts-page .top-block {
    margin-bottom: 0;
    height: 100%;
}

.action-page .item,
.english-page .item,
.page-action .item,
.collection-page .item,
.new-pages .item,
.news-page .item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-width: 1024px;
    width: 100%;
    min-height: 100%;
    align-items: stretch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px;
    margin-bottom: 100px;
}
.collection-page .item .photo,
.new-pages .item .photo,
.news-page .item .photo {
    width: 213px;
    height: 299px;
    margin-right: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collection-page .item .photo img,
.new-pages .item .photo img,
.news-page .item .photo img {
    width: 100%;
    height: auto;
}

.collection-page .item .text-block:hover .title,
.collection-page .item .text-block:hover .text span,
.news-page .item .text-block:hover .title,
.news-page .item .text-block:hover .text span
    {color: #c41fdb;}

.collection-page .item .text-block,
.news-page .item .text-block {
    text-decoration: none;
    width: 70%;
}

.collection-page .item .text-block .title,
.new-pages .item .text-block .title,
.news-page .item .text-block .title {
    font-size: 29px;
    text-transform: uppercase;
    line-height: 34px;
    color: #6f0c7a;
    margin-bottom: 20px;
    margin-top: -6px;
    display: inline-block;
    vertical-align: top;
}

.new-pages .item .text-block .text,
.collection-page .item .text-block .text,
.news-page .item .text-block .text {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    text-align: justify;
}

.action-page .item .text-block .text span,
.new-pages .item .text-block .text span,
.collection-page .item .text-block .text span,
.news-page .item .text-block .text span {
    font-family: "Arial Narrow", Arial, sans-serif;
    color: #872a87;
    font-size: 16px;
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
}
.action-page .item .text-block .text span:after,
.collection-page .item .text-block .text span:after,
.news-page .item .text-block .text span:after {
    font-style: normal;
    content: ">";
    position: relative;
    right: -8px;
    top: 2px;
    font-size: 18px;
}

/*--------------------------------НОВОСТИ---------------------------------*/
header.new-header .logo-link {
    background: url("/png/48.png") left center no-repeat;
    display: inline-block;
    width: 250px;
    height: 77px;
}
header.new-header .list-menu {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    line-height: 76px;
    margin-left: 35px;
}

header.new-header .list-menu li {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}
header.new-header .list-menu li a {
    font-size: 17px;
    color: #ffebb4;
    text-decoration: none;
    text-transform: uppercase;
}
header.new-header .list-menu li a.active {color: #ffffff;}
.news-page .video-block {
    border-top: 1px dashed #b3b3b3;
    padding: 50px 0;

}
.news-page .video-block .item {
    width: 500px;
    height: 360px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
}
.news-page .video-block .item .title {
    font-size: 29px;
    line-height: 34px;
    text-transform: uppercase;
    color: #6f0c7a;
    margin-bottom: 20px;
    height: 68px;
}
.news-page .video-block .item video {
    width : 400px;
    height: 225px;
}
/*---------------------------END--НОВОСТИ---------------------------------*/
/*-------------------------------контакти-----------------------------------*/
main.contacts-page {height: 100%;}
.contacts-page .info-block {
    position: absolute;
    top: 90px;
    right: 25px;
    height: 259px;
    width: 451px;
    background: rgba(255, 255, 255, 0.8) url("/png/v-logo.png") 35px 27px no-repeat;
    color: #666666;
    font-family: Arial;
    font-weight: normal;
}
.contacts-page .info-block p {
    font-size: 17px;
}
.contacts-page .info-block .tell {
    text-align: right;
    padding-right: 36px;
    padding-top: 23px;
    line-height: 25px;
    font-size: 16px;
}
.contacts-page .info-block .address {
    text-align: center;
    margin-top: 63px;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
}
.contacts-page .info-block .social {
    height: 64px;
    width: 100%;
    background-color: rgba(135, 42, 135, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
}
.contacts-page .info-block .social .item {
    width: 36px;
    height: 64px;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}
/*----------------------END------контакти-----------------------------------*/
/*-------------------------------------АКЦИЯ----------------------------------*/
.action-page {overflow: hidden;}
.action-page .item {margin-bottom: 45px;}

.action-page .item .photo {
    display: inline-block;
    vertical-align: top;
}
.action-page .item .photo img {
    display: table-column;
    align-items: center;
    max-height: 400px;
    margin: 0 auto;
}
.action-page .item .text-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 47px;
    text-align: justify;
    overflow: hidden;
    text-decoration: none;
}
.action-page .item .text-block .title {
    color: #b21857;
    text-transform: uppercase;
    font-size: 29px;
    margin-bottom: 20px;
    text-align: left;
}
.action-page .item .text-block .text {
    color: #666;
    font-size: 16px;
    line-height: 19px;
}
.action-page .item .mini-photo {
    width: 168px;
    height: 125px;
    margin-right: 33.5px;
}
.action-page .item .mini-photo:last-child {margin-right: 0;}
.action-page .item .mini-photo img {
    display: table-column;
    align-items: center;
    max-height: 125px;
    margin: 0 auto;
}
/*----------------------------END------АКЦИЯ----------------------------------*/
/*------------------------------------------О нас----------------------------------*/
.about-page .top-block video {
    width: 1024px;
    height: 574px;
}
.about-page .item .photo-col {
    width: 208px;
    display: inline-block;
    vertical-align: top;
    margin-right: 65px;
}
.about-page .item .photo-col .photo {
    width: 208px;
    height: 299px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 100px;
    overflow: hidden;
    box-sizing: border-box;
}
.about-page .item .photo-col .photo img {
    width: 100%;
    height: auto;
}
.about-page .item .price-block,
.about-page .item .info-block {
    max-width: 722px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about-page .item .info-block .title {
    font-size: 29px;
    line-height: 35px;
    color: #6f0c7a;
}

.about-page .item .info-block .title span {
    text-transform: uppercase;
    color: #4d4d4d;
}

.about-page .item .info-block .text {
    font-size: 16px;
    line-height: 19px;
    color: #666;
    font-family: arial, sans-serif;
    text-align: justify;
}
.about-page .item .info-block .text s {
    font-weight: bold;
    text-decoration: none;
}
.about-page .item .info-block .text span {
    display: block;
    margin-bottom: 35px;
    font-size: 17px;
}

.about-page .item .price-block .block {
    padding: 23px;
    background-color: #ffebb4;
}
.about-page .item .price-block .title {
    font-size: 29px;
    text-transform: uppercase;
    color: #6f0c7a;
    background: url("/png/25.png") 15px center no-repeat;
    padding: 80px 0px 62px 105px;
}
.about-page .item .price-block .block .name:first-of-type {
    margin-top: 0;
    margin-bottom: 19px;
}
.about-page .item .price-block .block .name {
    font-size: 29px;
    text-transform: uppercase;
    color: #6f0c7a;
    margin: 32px 0px 13px 0px;
}
.about-page .item .price-block .block .row .col {
    font-family: arial, sans-serif;
    font-size: 22px;
    line-height: 40px;
    color: #4d4d4d;
}
.about-page .item .price-block .block .row:first-of-type .col {
    color: #6f0c7a;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0 2px 0;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.about-page .item .price-block .block .row .col:nth-child(odd) {
    width: 480px;
    display: inline-block;
    vertical-align: top;
}
.about-page .item .price-block .block .row .col:nth-child(even) {
    width: 170px;
    display: inline-block;
    vertical-align: top;
}
.about-page .item .price-block .block.text {
    border-top: 1px dashed #b3b3b3;
    background: #ffebb4 url("/png/26.png") 22px 24px no-repeat;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #b21857;
    padding-left: 92px;
}
/*-----------------------------------END----О нас----------------------------------*/
/*---------------------------------Коллекция 2014----------------------------------*/
.page-action .top-block .text-block,
.collection-page .top-block .text-block {
    position: absolute;
    top: 90px;
    right: 26px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    text-align: justify;
    font-size: 15px;
    line-height: 21px;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8);
    width: 450px;
}

.page-action .item.row,
.collection-page .item.row {
    flex-wrap: wrap;
}
.page-action .item .collection-photo,
.collection-page .item .collection-photo {
    width: 293px;
    height: 219px;
    margin-right: 47px;
    margin-bottom: 47px;
    overflow: hidden;
}
.page-action .item .collection-photo:nth-child(3n+3),
.collection-page .item .collection-photo:nth-child(3n+3) {
    margin-right: 0;
}
.page-action .item .collection-photo img,
.collection-page .item .collection-photo img {
    display: table-column;
    align-items: center;
    max-height: 211px;
    margin: 0 auto;
}

.collection-page .item video {
    width: 534px;
    height: 400px;
    display: inline-block;
}

.collection-page .item .text-block.margin-left {
    margin-left: 50px;
}

/*-----------------------END-------Коллекция 2014----------------------------------*/
/*------------------------------заглушка для анг версии сайта----------------------*/
.english-page {min-height: 100%;}
.english-page .item {
    background: url("/png/52.png") center no-repeat;
    background-size: contain;
    max-width: 600px;
    margin: 0 auto;
    height: 263px;
}
/*------------------------------заглушка для анг версии сайта----------------------*/
.new-pages {min-height: 100%;}

.new-pages .item {margin-top: 150px;}

.new-pages .item .photo {
    width: 534px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
ul {padding-left: 18px;}

.page-action .top-block.bg-small,
.action-page .top-block.bg-small {
    background-size: 70%;
    background-position-y: 70px;
}
.collection-page .top-block.bg-small {
    background-size: 80%;
    background-position-y: 70px;
}
.collection-page .top-block.bg-clear {
    background: none;
    min-height: 100px;
}
