{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <ul class="list-menu">
                    <li><a href="/about" class="active">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collections">- Коллекции -</a></li>
                    <li><a href="/actions">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="about-page">
        <div class="top-block">
            <span>О нас</span>
            <div>
                <iframe width="100%" height="576" poster="/PNG/34.png" src="https://www.youtube.com/embed/RmzPwvCT8Y8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="item">
            <div class="photo-col">
                <div class="photo"><img src="/PNG/18.png" alt="Vitalina Filipchuk"/></div>
                <div class="photo"><img src="/PNG/19.png" alt="Vitalina Filipchuk"/></div>
                <div class="photo"><img src="/PNG/20.png" alt="Vitalina Filipchuk"/></div>
                <div class="photo"><img src="/PNG/21.png" alt="Vitalina Filipchuk"/></div>
                <div class="photo"><img src="/PNG/22.png" alt="Vitalina Filipchuk"/></div>
                <div class="photo"><img src="/PNG/23.png" alt="Vitalina Filipchuk"/></div>
            </div>
            <div class="info-block">
                <div class="title">Индивидуальный пошив от <span>Vitalina Filipchuk</span></div>
                <div class="text">
                    <span>(свадебные и вечерние наряды, офисный стиль, повседневная одежда)</span>
                    <s>Линия одежды  от Vitalina Filipchuk</s> - это эксклюзивная продукция, изготовленная молодым дизайнером в единственном экземпляре.<br>
                    Если вы знаете толк в хороших вещах, и понимаете отличие массового производства от ручной работы, то миссия нашей дизайн-студии будет вам абсолютно понятна. Мы не только предоставляем <s>услуги по пошиву одежды на заказ в Киеве</s>, а стремимся создавать высококачественные изделия.<br>
                    Образ стильной, самодостаточной женщины лежит в основе коллекций Vitalina Filipchuk. В динамичной жизни она выбирает комфортные, качественные вещи с одной стороны, но стильные, эксклюзивные и элегантные с другой. Уникальность дизайна состоит в его одновременной изысканности и простоте. Вещи способны подчеркнуть тонкий вкус своей обладательницы и сделать ее неотразимой  и женственной.<br>
                    Мы  использует качественные ткани и фурнитуру европейских и украинских  производителей.  Крой и шитье изделий  проходит строгий контроль качества, а команда вкладывает свою душу и заботу в создаваемый образ.<br>
                </div>
                <div class="price-block">
                    <div class="title">Прейскурант на индивидуальный пошив</div>
                    <div class="block">
                        <p class="name">Женская одежда</p>
                            <div class="row">
                                <div class="col">Вид услуг</div>
                                <div class="col">Стоимость (грн)</div>
                            </div>
                            <div class="row">
                                <div class="col">Брюки классические без подкладки</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Костюм брючный</div>
                                <div class="col">От 900</div>
                            </div>
                            <div class="row">
                                <div class="col">Костюм с юбкой</div>
                                <div class="col">От 800</div>
                            </div>
                            <div class="row">
                                <div class="col">Жакет без подкладки</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Жакет на подкладке</div>
                                <div class="col">От 500</div>
                            </div>
                            <div class="row">
                                <div class="col">Жилет без подкладки</div>
                                <div class="col">От 350</div>
                            </div>
                            <div class="row">
                                <div class="col">Жилет на подкладке</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Юбка без подкладки</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Юбка на подкладке</div>
                                <div class="col">От 450</div>
                            </div>
                            <div class="row">
                                <div class="col">Блуза шелковая</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Рубашка</div>
                                <div class="col">От 300</div>
                            </div>
                            <div class="row">
                                <div class="col">Сарафан</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Платье повседневное</div>
                                <div class="col">От 400</div>
                            </div>
                            <div class="row">
                                <div class="col">Платье вечернее</div>
                                <div class="col">От 600</div>
                            </div>
                            <div class="row">
                                <div class="col">Корсет</div>
                                <div class="col">От 500</div>
                            </div>
                            <div class="row">
                                <div class="col"><strong>Свадебное платье</strong></div>
                                <div class="col"><strong>От 1800</strong></div>
                            </div>
                        <p class="name">Трикотажные изделия</p>
                            <div class="row">
                                <div class="col">Платье</div>
                                <div class="col">От 300</div>
                            </div>
                            <div class="row">
                                <div class="col">Гольф</div>
                                <div class="col">От 250</div>
                            </div>
                            <div class="row">
                                <div class="col">Футболка</div>
                                <div class="col">100-200</div>
                            </div>
                        <p class="name">Ремонт одежды</p>
                            <div class="row">
                                <div class="col">Укоротить низ брюк (мужских)</div>
                                <div class="col">От 60</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ брюк (женских)</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ юбки</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ платья</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ рукава без подкладки</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ рукава на подкладке</div>
                                <div class="col">От 70</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить низ рукава пиджака мужского</div>
                                <div class="col">От 80</div>
                            </div>
                            <div class="row">
                                <div class="col">Укоротить длину пиджака мужского</div>
                                <div class="col">От 100</div>
                            </div>
                            <div class="row">
                                <div class="col">Ушить пиджак мужской</div>
                                <div class="col">От 150</div>
                            </div>
                            <div class="row">
                                <div class="col">Ушить жакет женский</div>
                                <div class="col">От 80</div>
                            </div>
                            <div class="row">
                                <div class="col">Ушить юбку</div>
                                <div class="col">От 70</div>
                            </div>
                            <div class="row">
                                <div class="col">Ушить брюки</div>
                                <div class="col">От 80</div>
                            </div>
                            <div class="row">
                                <div class="col">Замена молнии в юбке</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Замена молнии в брюках женских</div>
                                <div class="col">От 50</div>
                            </div>
                            <div class="row">
                                <div class="col">Замена молнии в брюках мужских</div>
                                <div class="col">От 70</div>
                            </div>
                            <div class="row">
                                <div class="col">Замена молнии в платье</div>
                                <div class="col">От 70</div>
                            </div>
                            <div class="row">
                                <div class="col">Оверлок (1м.)</div>
                                <div class="col">10</div>
                            </div>
                    </div>
                    <div class="block text">Цена за пошив изделия зависит от материала,<br> сложности модели, фурнитуры, декора.</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about" class="active">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collections">Коллекции</a></li>
        <li><a href="/actions">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}