{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection">- Коллекции -</a></li>
                    <li><a href="/action" class="active">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="page-action">
        <div class="top-block">
            <span>Распродажа вечерних нарядов</span>
            <!--div class="text-block">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </div-->
        </div>
        <div class="item row">
            <a class="collection-photo fancybox" rel="group1" title="Вечернее коктельное платье, размер 44, цена 800грн.<br> Материал-атлас, фатин, кружево белое с ручной вышивкой." href="/PNG/Распродажа%20вечерних%20нарядов/5imNfXws7NM.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/5imNfXws7NM.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее коктельное платье, размер 44, цена 800грн.<br> Материал-атлас, фатин, кружево белое с ручной вышивкой." href="/PNG/Распродажа%20вечерних%20нарядов/wFZmQRHnmV8.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/wFZmQRHnmV8.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее кружевное платье, размер 44, цена 1800грн.<br> Материал: атлас, гипюр голубого цвета." href="/PNG/Распродажа%20вечерних%20нарядов/6nJfXCq9QoI.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/6nJfXCq9QoI.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее кружевное платье, размер 44, цена 1800грн.<br> Материал: атлас, гипюр голубого цвета." href="/PNG/Распродажа%20вечерних%20нарядов/iuK2ZkPcQ20.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/iuK2ZkPcQ20.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее кружевное платье, размер 44, цена 1800грн.<br> Материал: атлас, гипюр голубого цвета." href="/PNG/Распродажа%20вечерних%20нарядов/sMoxlh5Hp3k.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/sMoxlh5Hp3k.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное платье в бабочки, размер 44, цена 500грн.<br> Материал: атлас, на поясе декор." href="/PNG/Распродажа%20вечерних%20нарядов/20140521_114704.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20140521_114704.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Шифоновое красное платье, размер 42-44, цена 1500грн.<br> Материал: шифон, органза, кружево, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_114132.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114132.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Шифоновое красное платье, размер 42-44, цена 1500грн.<br> Материал: шифон, органза, кружево, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_114139.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114139.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Шифоновое красное платье, размер 42-44, цена 1500грн.<br> Материал: шифон, органза, кружево, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_114153.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114153.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Трикотажное коктельное платье с шарфом, размер 42, цена 300грн.<br> Материал: трикотажный гипюр, сетка." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_114704.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114704.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Атласный корсет с юбкой, размер 42-44, цена 400грн.<br> Материал: атлас, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_115017.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_115017.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Атласное короткое платье, размер 42, цена 300грн.<br> Материал: атлас, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_120058.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_120058.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет с юбкой, размер 42-44, цена 500грн.<br> Материал: атлас, парча, гипюр, декор цветы, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/20150611_130542.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_130542.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Трикотажное коктельное платье, размер 42, цена 300грн.<br> Материал: плотный трикотаж, гипюр сверху." href="/PNG/Распродажа%20вечерних%20нарядов/D0YNQSiJDC8.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/D0YNQSiJDC8.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее гипюровое платье с болеро, размер 46, цена 2000грн.<br> Материал: атлас, гипюр розового оттенка." href="/PNG/Распродажа%20вечерних%20нарядов/eeBzBJqhazk.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/eeBzBJqhazk.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Вечернее гипюровое платье с болеро, размер 46, цена 2000грн.<br> Материал: атлас, гипюр розового оттенка." href="/PNG/Распродажа%20вечерних%20нарядов/fJ3SYGVtozI.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/fJ3SYGVtozI.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Милое платье в цветы, размер 40, цена 500грн.<br> Материал: атлас, фатин черный, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/eySu1tDvHxE.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/eySu1tDvHxE.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное платье из тафты, размер 42, цена 500грн.<br> Материал: тафта, камни Сваровски." href="/PNG/Распродажа%20вечерних%20нарядов/P1090889.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090889.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное платье из тафты, размер 42, цена 500грн.<br> Материал: тафта, камни Сваровски." href="/PNG/Распродажа%20вечерних%20нарядов/P1090890.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090890.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Золотое гофре, размер 44, цена 1700грн.<br> Материал: атлас, атлас гофрированный, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090891.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090891.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Золотое гофре, размер 44, цена 1700грн.<br> Материал: атлас, атлас гофрированный, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090892.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090892.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Золотое гофре, размер 44, цена 1700грн.<br> Материал: атлас, атлас гофрированный, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090893.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090893.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коричневое гофрированное платье, размер 44, цена 1100грн.<br> Материал: жаккард, атлас гофрированный." href="/PNG/Распродажа%20вечерних%20нарядов/P1090894.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090894.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коричневое гофрированное платье, размер 44, цена 1100грн.<br> Материал: жаккард, атлас гофрированный." href="/PNG/Распродажа%20вечерних%20нарядов/P1090896.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090896.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Серо-голубой корсет, размер 42-44, цена 500грн.<br> Материал: тафта, органза, гипюр, камни Сваровски." href="/PNG/Распродажа%20вечерних%20нарядов/P1090897.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090897.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Серо-голубой корсет, размер 42-44, цена 500грн.<br> Материал: тафта, органза, гипюр, камни Сваровски." href="/PNG/Распродажа%20вечерних%20нарядов/P1090898.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090898.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Персиковое прозрачное платье, размер 42, цена 500грн.<br> Материал: жатка, сетка, кружево, цветы ручной работы." href="/PNG/Распродажа%20вечерних%20нарядов/P1090899.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090899.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Персиковое прозрачное платье, размер 42, цена 500грн.<br> Материал: жатка, сетка, кружево, цветы ручной работы." href="/PNG/Распродажа%20вечерних%20нарядов/P1090902.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090902.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Оранжевое прозрачное платье, размер 42-44, цена 1000грн.<br> Материал-органза, кружево, ручная работа, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/P1090915 - копия.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090915 - копия.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Оранжевое прозрачное платье, размер 42-44, цена 1000грн.<br> Материал-органза, кружево, ручная работа, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/P1090916.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090916.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Оранжевое прозрачное платье, размер 42-44, цена 1000грн.<br> Материал-органза, кружево, ручная работа, сзади на шнуровке." href="/PNG/Распродажа%20вечерних%20нарядов/P1090917.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090917.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Красное платье в рюши, размер 44-46, цена 600грн.<br> Материал: шифон." href="/PNG/Распродажа%20вечерних%20нарядов/P1090921 - копия.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090921 - копия.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Золотой корсет с юбкой, размер 42-44, цена 1000грн.<br> Материал: атлас, органза, гипюр вышитый." href="/PNG/Распродажа%20вечерних%20нарядов/P1090923 - копия.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090923 - копия.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Золотой корсет с юбкой, размер 42-44, цена 1000грн.<br> Материал: атлас, органза, гипюр вышитый." href="/PNG/Распродажа%20вечерних%20нарядов/P1090925.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090925.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет ручная вышивка, размер 42, цена 700грн." href="/PNG/Распродажа%20вечерних%20нарядов/P1090928.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090928.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет ручной работы, размер 44, цена 1500грн." href="/PNG/Распродажа%20вечерних%20нарядов/P1090931.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090931.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет ручной работы, размер 44, цена 1500грн." href="/PNG/Распродажа%20вечерних%20нарядов/P1090932.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090932.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет с голубым мехом, размер 42, цена 500грн." href="/PNG/Распродажа%20вечерних%20нарядов/P1090939.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090939.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное кружевное платье-футляр, размер 44, цена 800грн.<br> Под заказ любой гипюр( цена на платье будет зависеть от гипюра)<br> Материал: атлас, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090943.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090943.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Серое платье с брошкой, размер 42-44, цена 500грн.<br> Материал: атлас, жатка." href="/PNG/Распродажа%20вечерних%20нарядов/P1090944 - копия.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090944 - копия.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное гипюровое платье на бретельках, размер 44, цена 800грн.<br> В наличии к нему есть болеро с длинным рукавом.<br> Материал: атлас, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090948.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090948.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Коктельное гипюровое платье на бретельках, размер 44, цена 800грн.<br> В наличии к нему есть болеро с длинным рукавом.<br> Материал: атлас, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/P1090949.JPG"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090949.JPG" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корсет с юбкой из парчи, размер 42, цена 800грн.<br> Материал: атлас, парча, фатин, гипюр." href="/PNG/Распродажа%20вечерних%20нарядов/Q9Z1VorHbkU.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/Q9Z1VorHbkU.jpg" alt="Распродажа вечерних нарядов"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Зеленый корсет с юбкой, размер 42, цена 300грн.<br> Материал: атлас." href="/PNG/Распродажа%20вечерних%20нарядов/VpDJWAKlelo.jpg"><img src="/PNG/Распродажа%20вечерних%20нарядов/VpDJWAKlelo.jpg" alt="Распродажа вечерних нарядов"/></a>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection">Коллекции</a></li>
        <li><a href="/action" class="active">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}