{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection">- Коллекции -</a></li>
                    <li><a href="/action" class="active">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="action-page">
        <div class="top-block">
            <span>Акции</span>
        </div>
        <div class="margin-bottom">
            <div class="item">
                <a href="action-wedding-dress" class="photo">
                    <img src="/PNG/Распродажа%20свадебных%20нарядов%20ANAIS/ZkxtKeCWE94.jpg" />
                </a>
                <a href="action-wedding-dress" class="text-block">
                    <div class="title">Распродажа свадебных нарядов</div>
                    <div class="text">
                        Советы при выборе  свадебного платья.<br>
                        1. Примерять платье стоит с тем бельём, которое будет на свадьбе.<br>
                        2. Длина платья может быть понятна только в тех туфлях, которые будут на свадьбе.
                        Если свадебные туфли пока не купили, то возьмите такие туфли, высота каблука у которых такая же, какой будет на свадебных туфлях, учтите, что регулировать длину пышного платья можно меняя диаметр колец кринолина.<br>
                        3. В платье надо походить, чтобы понимать, насколько удобно вам будет передвигаться, если в платье есть шлейф, то заранее позаботьтесь, чтобы он пристёгивался.<br>
                        4. Чтобы не ошибиться в выборе свадебного платья надо запастись терпением и посетить несколько салонов, чтобы была возможность сравнить ассортимент и качество платьев.<br>
                        5. Постарайтесь получить разрешение фотографировать понравившиеся платья, и обязательно записывайте артикул платья и координаты салона, чтобы потом восстановить в памяти, когда после походов по нескольким салонам определитесь с выбором.<br>
                        6. Поинтересуйтесь в салоне, возможно ли хранить платье после покупки в салоне и попросите, чтобы вам его профессионально отпарили и подготовили, если нужно почистили и пореставрировали.<br>
                        Забирайте платье за неделю до свадьбы, еще раз примерив, если у вас за это время поменялась фигура - похудеете или поправитесь - чтобы для вас в день свадьбы это не стало сюрпризом.
                    </div>
                </a>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/11791067_481019615400460_957228541_o.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/11794430_480672568768498_1640149385349828760_o.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/11798562_481093268726428_1124644613_n.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/11815638_481032022065886_911537344_n.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/11823779_481045745397847_1803959449_n.jpg" /></div>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебной%20коллекции%20ANAIS/DSC_1638Final.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20нарядов%20ANAIS/4Z0Qmd3UvQE.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20нарядов%20ANAIS/svadeboe-platie-01.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20нарядов%20ANAIS/svadeboe-platie-05.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20нарядов%20ANAIS/svadeboe-platie-04.jpg" /></div>
            </div>
        </div>
        <div class="margin-bottom">
            <div class="item">
                <a href="action-evening-dresses" class="photo">
                    <img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114139.jpg" />
                </a>
                <a href="action-evening-dresses" class="text-block">
                    <div class="title">Распродажа вечерних нарядов</div>
                    <div class="text">
                        Советы по выбору вечернего платья<br>
                        Выпускные платья подчеркивают юность, свежесть и красоту их обладательниц, вступающих во взрослую жизнь, поэтому зачастую выпускные платья для выпускного бала шьются в романтическом  стиле. Для этого используются легкие воздушные  ткани такие, как шелк, шифон, атлас, органза, а также зачастую используется гипюр или кружево.<br>
                        Секрет оптимального выбора коктейльного платья весьма прост – следует следовать своему вкусу и подбирать платья, которые подчеркнут основные достоинства вашей фигуры, надежно скрыв возможные недостатки. Кстати, покупая коктейльное платье, стоит знать, что его совсем не обязательно надевать только лишь на мероприятия, требующие определенного дресс-кода. Ведь при желании, добавив к нему другой элемент одежды, например – строгий пиджак, его запросто можно надеть в офис на работу, на пресс-конференцию, презентацию либо на деловую встречу.<br>
                        Помните – вечернее платье существует для вас, а не вы для платья, поэтому, покупая вечерний наряд, стоит обратить внимание на то, чтобы вам было в нем, в первую очередь, удобно.<br>
                        Ну и напоследок стоит отметить, что какое бы вечернее платье вы не выбрали – строгое черное вечернее платье-футляр, единственным украшением которого станет маленькая нитка жемчуга, либо шикарное вечернее платье из шуршащей ткани, вручную расшитое бисером или паетками по всей длине подола, - и то, и другое платье, купленное у нас, будет иметь самое высокое качество, которое станет залогом долгой службы на страже вашей красоты и индивидуальности.
                    </div>
                </a>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/6nJfXCq9QoI.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/20150611_114704.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/eeBzBJqhazk.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090893.JPG" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090944%20-%20копия.JPG" /></div>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090889.JPG" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090894.JPG" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090921%20-%20копия.JPG" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090923%20-%20копия.JPG" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20вечерних%20нарядов/P1090896.JPG" /></div>
            </div>
        </div>
        <div class="margin-bottom">
            <div class="item">
                <a href="action-wedding-accessories" class="photo">
                    <img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150615_110228.jpg" />
                </a>
                <a href="action-wedding-accessories" class="text-block">
                    <div class="title">Распродажа свадебных аксесcуаров</div>
                    <div class="text">
                        Свадебные аксессуары<br>
                        Стиль свадьбы зависит не только от образов невесты и жениха, но и таких важных мелочей, как свечи, подушечка для колец, бутоньерки, бокалы для шампанского, рушники для традиционного каравая, пригласительные, с помощью которых молодожены сообщат своим родным и близким о дате и месте торжества и многое другое.<br>
                        Разумеется, молодоженам очень сложно учесть все эти мелочи и позаботиться об их приобретении, но наш сайт значительно упрощает эту задачу.
                    </div>
                </a>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_155423.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164525.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164650.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_153303.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_192335.jpg" /></div>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_193451.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135035.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135212.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141928.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_151510.jpg" /></div>
            </div>
        </div>
        <div class="margin-bottom">
            <div class="item">
                <a href="action-children-dresses" class="photo">
                    <img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/3.jpg" />
                </a>
                <a href="action-children-dresses" class="text-block">
                    <div class="title">Детские платья и карнавальные костюмы</div>
                    <div class="text">
                        Распродажа детских нарядов<br>
                        Покупка детского платья – задача не из простых. После того, как вы ознакомитесь со всем модельным рядом, вы сможете представить себе, какой наряд будет идеальным для вашей дочери.<br>
                        Если вы решили, что ваша малышка уже доросла до того возраста, когда ей можно купить роскошное нарядное платье, не упускайте возможности посетить нашу дизайн-студию, чтобы убедиться в качестве товара и привлекательной цене на него.<br>
                        Детские детские  платья  имеют несколько вариантов и фасонов. И прежде чем сделать покупку, нужно определиться с тем, для какого мероприятия необходимо это самое платье.<br>
                        Торжественный праздник или церемония: здесь уместными будут самые пышные и невероятные наряды, для пошива которых используют шёлк, шифон и атлас или органзу.<br>
                        Есть также варианты попроще: легкие платья с болеро, которые можно одеть на любой праздник, и при этом все равно чувствовать себя принцессой.<br>
                        При покупке детского платья важно учитывать, что красивый наряд – не всегда удобный. Мы, в свою очередь, стараемся сделать так, чтобы каждое платьице не доставляло дискомфорт юной леди. Однако на примерке вы должны убедиться в этом сами, потому что неудобная вещь вашей малышке просто не подойдёт. Не пожалейте времени на выбор и примерку платьев, чтобы ваша доченька смогла выбрать не только красивый, но и комфортный наряд для особых случаев и праздников.
                    </div>
                </a>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/1.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/2.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/4.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/5.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/6.jpg" /></div>
            </div>
            <div class="item">
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/7.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/10.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/16.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/17.jpg" /></div>
                <div class="mini-photo"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/40.jpg" /></div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection">Коллекции</a></li>
        <li><a href="/action" class="active">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}