{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection">- Коллекции -</a></li>
                    <li><a href="/action" class="active">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="page-action">
        <div class="top-block">
            <span>Детские платья и карнавальные костюмы</span>
            <!--div class="text-block">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </div-->
        </div>
        <div class="item row">
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/1.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/1.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/3.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/3.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/4.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/4.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/5.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/5.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/6.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/6.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/7.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/7.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/8.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/8.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/9.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/9.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/10.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/10.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/12.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/12.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/14.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/14.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/16.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/16.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/21.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/21.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/22.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/22.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/23.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/23.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/25.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/25.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/26.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/26.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/27.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/27.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/28.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/28.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/29.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/29.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/30.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/30.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/33.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/33.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/34.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/34.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/36.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/36.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/37.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/37.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/44.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/44.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/46.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/46.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/detskij-karnavalnyj-kostum-snegurochka.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/detskij-karnavalnyj-kostum-snegurochka.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/DSC_9280.JPG"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/DSC_9280.JPG" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/DSC_9289.JPG"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/DSC_9289.JPG" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-03.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-03.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-04.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-04.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-05.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-05.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-06.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/karnavalyj-kostum-dlya-vzroslyh-06.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/kostyum-dlya-devochki-koshka.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/kostyum-dlya-devochki-koshka.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/kostyum-dlya-devochki-olenenok.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/kostyum-dlya-devochki-olenenok.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/new1.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/new1.jpg" alt="Детские платья и карнавальные костюмы"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/new2.jpg"><img src="/PNG/Детские%20платья%20и%20карнавальные%20костюмы/new2.jpg" alt="Детские платья и карнавальные костюмы"/></a>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection">Коллекции</a></li>
        <li><a href="/action" class="active">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}