{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection" class="active">- Коллекции -</a></li>
                    <li><a href="/action">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
<main class="collection-page">
    <div class="top-block">
        <span>Коллекция 2014</span>
        <div class="text-block">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
        </div>
    </div>
    <div class="item row">
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/11111KYY_4196.jpg" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/10614804_717344644986119_1815425042_o.jpg" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/10617636_717429358310981_340473463_n.jpg" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/collageKYY_4034.jpg" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/D0YNQSiJDC8.jpg" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4031.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4070.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4078.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4081.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4134_2.jpg" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4176.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4183.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4202.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4210.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4216.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4223.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4229.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4240.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4243.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4248.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4249к.jpg" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4254.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4258.JPG" alt="Коллекция 2014"/></div>
        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4263.JPG" alt="Коллекция 2014"/></div>

        <div class="collection-photo"><img src="/PNG/Коллекция%202014/KYY_4268.JPG" alt="Коллекция 2014"/></div>
    </div>
</main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection" class="active">Коллекции</a></li>
        <li><a href="/action">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}