{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection" class="active">- Коллекции -</a></li>
                    <li><a href="/action">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
<main class="collection-page">
    <div class="top-block">
        <span>Коллекция 2014</span>
        <div class="text-block">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
        </div>
    </div>
    <div class="item row">
        <a class="collection-photo fancybox" rel="group1" title="Летняя котоновая юбочка, размер 42, цена 300грн. <br> Материал: котон в слоники и пальмы, спереди на пуговицах, пояс." href="/PNG/Коллекция%202014/11111KYY_4196.jpg"><img src="/PNG/Коллекция%202014/11111KYY_4196.jpg" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Атласная блуза с рюшами и юбка под заказ в любом цвете." href="/PNG/Коллекция%202014/10614804_717344644986119_1815425042_o.jpg"><img src="/PNG/Коллекция%202014/10614804_717344644986119_1815425042_o.jpg" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Красное трикотажное платье с гипюром, размер 42, цена 300грн. <br> Материал: плотный трикотаж, сверху гипюр." href="/PNG/Коллекция%202014/10617636_717429358310981_340473463_n.jpg"><img src="/PNG/Коллекция%202014/10617636_717429358310981_340473463_n.jpg" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Вечернее коктельное платье с паетками, размер 42, цена 500грн. <br> Материал: трикотаж разных оттенков, пояс из паеток." href="/PNG/Коллекция%202014/KYY_4070.JPG"><img src="/PNG/Коллекция%202014/KYY_4070.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Вельветовая юбочка в цветы с баской, размер 44, цена 400грн. <br> Материал: стрейч вельвет." href="/PNG/Коллекция%202014/KYY_4176.JPG"><img src="/PNG/Коллекция%202014/KYY_4176.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Вечернее голубое платье, размер 42-44, цена 800грн.  <br> Материал: тафта, гипюр, сзади на шнуровке." href="/PNG/Коллекция%202014/KYY_4210.JPG"><img src="/PNG/Коллекция%202014/KYY_4210.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Шифоновая юбка с блузой, размер 44, цена 600грн.  <br> Материал: шифон сиреневый, шифон в бабочки и цветы." href="/PNG/Коллекция%202014/KYY_4229.JPG"><img src="/PNG/Коллекция%202014/KYY_4229.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Свадебное белоснежно-голубое платье, размер 42, цена 2000грн. <br> Материал: атлас, шифон, белоснежный вышитый гипюр. <br> Ассиметричный рукав, сзади бант и небольшой шлейф, цветы в голову розы - ручная работа." href="/PNG/Коллекция%202014/KYY_4248.JPG"><img src="/PNG/Коллекция%202014/KYY_4248.JPG" alt="Коллекция 2014"/></a>


        <a class="collection-photo fancybox" rel="group1" title="1" href="/PNG/Коллекция%202014/collageKYY_4034.jpg"><img src="/PNG/Коллекция%202014/collageKYY_4034.jpg" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="2" href="/PNG/Коллекция%202014/D0YNQSiJDC8.jpg"><img src="/PNG/Коллекция%202014/D0YNQSiJDC8.jpg" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="3" href="/PNG/Коллекция%202014/KYY_4031.JPG"><img src="/PNG/Коллекция%202014/KYY_4031.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="4" href="/PNG/Коллекция%202014/KYY_4078.JPG"><img src="/PNG/Коллекция%202014/KYY_4078.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="5" href="/PNG/Коллекция%202014/KYY_4081.JPG"><img src="/PNG/Коллекция%202014/KYY_4081.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="6" href="/PNG/Коллекция%202014/KYY_4134_2.jpg"><img src="/PNG/Коллекция%202014/KYY_4134_2.jpg" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="7" href="/PNG/Коллекция%202014/KYY_4183.JPG"><img src="/PNG/Коллекция%202014/KYY_4183.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="8" href="/PNG/Коллекция%202014/KYY_4202.JPG"><img src="/PNG/Коллекция%202014/KYY_4202.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="9" href="/PNG/Коллекция%202014/KYY_4216.JPG"><img src="/PNG/Коллекция%202014/KYY_4216.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="10" href="/PNG/Коллекция%202014/KYY_4223.JPG"><img src="/PNG/Коллекция%202014/KYY_4223.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="11" href="/PNG/Коллекция%202014/KYY_4240.JPG"><img src="/PNG/Коллекция%202014/KYY_4240.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="12" href="/PNG/Коллекция%202014/KYY_4243.JPG"><img src="/PNG/Коллекция%202014/KYY_4243.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="13" href="/PNG/Коллекция%202014/KYY_4249к.jpg"><img src="/PNG/Коллекция%202014/KYY_4249к.jpg" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="14" href="/PNG/Коллекция%202014/KYY_4254.JPG"><img src="/PNG/Коллекция%202014/KYY_4254.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="15" href="/PNG/Коллекция%202014/KYY_4258.JPG"><img src="/PNG/Коллекция%202014/KYY_4258.JPG" alt="Коллекция 2014"/></a>
        <a class="collection-photo fancybox" rel="group1" title="16" href="/PNG/Коллекция%202014/KYY_4263.JPG"><img src="/PNG/Коллекция%202014/KYY_4263.JPG" alt="Коллекция 2014"/></a>

        <a class="collection-photo fancybox" rel="group1" title="17" href="/PNG/Коллекция%202014/KYY_4268.JPG"><img src="/PNG/Коллекция%202014/KYY_4268.JPG" alt="Коллекция 2014"/></a>
    </div>
    <div class="item">
        <video controls="controls">
            <source src="video/VitalinaFilipchuk Backstage Летняя коллекция одежды 2014.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            Тег video не поддерживается вашим браузером.
            <a href="video/summerClothesCollection2014.mp4">Скачайте видео</a>.
        </video>
        <div class="text-block margin-left">
            <div class="title">Коллекция 2014</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequuntur corporis culpa cupiditate delectus dignissimos ducimus enim eos error explicabo impedit in inventore ipsam labore maxime modi nam natus nihil numquam obcaecati officiis perspiciatis placeat quaerat recusandae, reprehenderit, repudiandae, rerum sed sequi similique soluta tempore unde voluptate. Amet architecto, aspernatur culpa deleniti eum maxime possimus sint sunt totam unde. Aperiam dolores ea fugit natus nostrum, quos sunt veritatis voluptatem. Hic possimus tenetur voluptates! Aspernatur distinctio dolorem dolorum exercitationem, fugit illum iste nihil repellendus repudiandae, ullam voluptates voluptatum! Accusamus, amet aperiam, cupiditate, dignissimos impedit inventore nobis placeat quia suscipit totam veniam voluptate! Aliquid atque autem commodi culpa cum debitis delectus dolor earum eligendi enim, error ex expedita explicabo hic illum laudantium magni mollitia nemo nihil optio quam quasi quis quos sapiente tenetur totam ut voluptas voluptate voluptatem voluptatum! Accusantium corporis cupiditate dolorem dolorum eaque earum eius hic laboriosam minus molestias odit repellat, tenetur. Accusamus beatae consequatur debitis deserunt dolor dolores ea</div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection" class="active">Коллекции</a></li>
        <li><a href="/action">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}