{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="/english">EN</a>
                </div>
                <ul class="list-menu">
                    <li><a href="/news">- О нас -</a></li>
                    <li><a href="/about">- Прейскурант -</a></li>
                    <li><a href="/collections">- Коллекции -</a></li>
                    <li><a href="/actions">- Акции -</a></li>
                    <li><a href="/contacts" class="active">- Контакты -</a></li>
                </ul>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="contacts-page">
        <div class="top-block">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=qNVlxF2BU29C9f6YWPb_XEGMrW8D3Ht4&width=100%"></script>
            <span>Контакти</span>
            <div class="info-block">
                <div class="tell">
                    <p>+38 (097) 889 69 06</p>
                    <p>+38 (063) 132 18 11</p>
                    <div>vitalinafashion@i.ua</div>
                </div>
                <div class="address">
                    <div>Киев, М.Голосеевская, ул.Васильковская 1, офис 305/1</div>
                </div>

                <div class="social">
                    <a target="_blank" href="https://vk.com/id139465299" class="item vk"></a>
                    <a target="_blank" href="https://www.facebook.com/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-%D1%81%D1%82%D1%83%D0%B4%D0%B8%D1%8F-Vitalina-Filipchuk-995617403822456/timeline/" class="item facebook"></a>
                    <a target="_blank" href="https://plus.google.com/117922468905025741451/posts" class="item google"></a>
                    <a target="_blank" href="#" class="item twitter"></a>
                    <a target="_blank" href="#" class="item in"></a>
                    <a target="_blank" href="#" class="item instagram"></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/news">О нас</a></li>
        <li><a href="/about">Прейскурант</a></li>
        <li><a href="/collections">Коллекции</a></li>
        <li><a href="/actions">Акции</a></li>
        <li class="last"><a href="/contacts" class="active">Контакты</a></li>
    </ul>
{% endblock %}