<footer>
    <div class="center-block footer-block">
        <div class="top-line"></div>
        <div class="name"></div>
        <div class="block-center">
            <div class="social">
                <a href="#" class="item vk"></a>
                <a href="#" class="item facebook"></a>
                <a href="#" class="item google"></a>
                <a href="#" class="item twitter"></a>
                <a href="#" class="item in"></a>
                <a href="#" class="item instagram"></a>
            </div>
            <ul class="list-menu">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Коллекции</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-line">
        <div class="center-block">
            <div class="inl-block pull-left">+38 (097) 889 69 06</div>
            <div class="inl-block pull-left">+38 (063) 1321811</div>
            <div class="inl-block pull-left">vitalinafashion@i.ua</div>
            <div class="inl-block copyright">Vitalina Filipchuk 2015 ©</div>
            <div class="inl-block pull-right">Киев, М.Голосеевская, ул.Васильковская 1, офис 305/1</div>
        </div>
    </div>
</footer>