{% extends "/default/index.html.twig" %}
{% block header %}
<header>
    <div class="center-block">
        <a href="#" class="about">Новости</a>
        <div class="lang">
            <a href="#">RU</a>
            /
            <a href="#">EN</a>
        </div>
        <div class="top-line"></div>
    </div>
</header>
{% endblock %}
