<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitalina Filipchuk</title>
    <link rel="shortcut icon" href="/web/favicon.png" type="image/x-icon">
    <link href="http://allfont.ru/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/media-style.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/script/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/script/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/script/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/script/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/script/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/script/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <link rel="stylesheet" href="/script/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/script/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <script src="{{ asset('/script/gallery.js') }}" type="text/javascript"></script>
</head>
<body>
    {% block header %}
        <header class="start-header">
                <div class="center-block">
                    <a href="/news" class="about">О нас</a>
                    <div class="lang start-lang">
                        <a href="#">RU</a>
                        /
                        <a href="/english">EN</a>
                    </div>
                    <div class="top-line"></div>
                </div>
        </header>
    {% endblock %}
    {% block main %}
        <main class="start-page">
            <div class="first-block">
                <a href="/about" class="item news">
                    <div class="block-item font-georgia1">Прейскурант</div>
                </a>
                <a href="/actions" class="item action">
                    <div class="block-item font-georgia1">Акции</div>
                </a>
            </div>
            <div class="dummy"></div>
            <div class="second-block">
                <a href="/collections" class="item collection">
                    <div class="block-item font-georgia1">Коллекции</div>
                </a>
                <a href="/contacts" class="item contacts">
                    <div class="block-item font-georgia1">Контакты</div>
                </a>
            </div>
        </main>
    {% endblock %}
<footer>
    <div class="center-block footer-block">
        <div class="top-line"></div>
        <div class="block-center">
            <div class="name"></div>
            {% block footer %}
                <ul class="list-menu">
                    <li><a href="/news">О нас</a></li>
                    <li><a href="/about">Прейскурант</a></li>
                    <li><a href="/collections">Коллекции</a></li>
                    <li><a href="/actions">Акции</a></li>
                    <li class="last"><a href="/contacts">Контакты</a></li>
                </ul>
            {% endblock %}
            <div class="social">
                <a target="_blank" href="https://vk.com/id139465299" class="item vk"></a>
                <a target="_blank" href="https://www.facebook.com/%D0%94%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-%D1%81%D1%82%D1%83%D0%B4%D0%B8%D1%8F-Vitalina-Filipchuk-995617403822456/timeline/" class="item facebook"></a>
                <a target="_blank" href="https://plus.google.com/117922468905025741451/posts" class="item google"></a>
                <a target="_blank" href="#" class="item twitter"></a>
                <a target="_blank" href="#" class="item in"></a>
                <a target="_blank" href="#" class="item instagram"></a>
            </div>
        </div>
    </div>
    <div class="bottom-line">
        <div class="center-block">
            <div class="inl-block">+38 (097) 889 69 06</div>
            <div class="inl-block">+38 (063) 1321811</div>
            <div class="inl-block">vitalinafashion@i.ua</div>
            <div class="inl-block copyright">Vitalina Filipchuk 2015 ©</div>
            <div class="inl-block">Киев, М.Голосеевская, ул.Васильковская 1, офис 305/1</div>
        </div>
    </div>
</footer>
</body>
</html>