{% extends "/default/index.html.twig" %}
{% block header %}
<header class="new-header">
    <div class="center-block">
        <a class="logo-link" href="/"></a>
        <div class="lang">
            <a href="#">RU</a>
            /
            <a href="/english">EN</a>
        </div>
        <ul class="list-menu">
            <li><a href="/about">- О нас -</a></li>
            <li><a href="/news">- Новости -</a></li>
            <li><a href="/collections" class="active">- Коллекции -</a></li>
            <li><a href="/actions">- Акции -</a></li>
            <li><a href="/contacts">- Контакты -</a></li>
        </ul>
        <div class="top-line"></div>
    </div>
</header>
{% endblock %}
{% block main %}
<main class="collection-page">
    <div class="top-block">
        <span>Коллекция 2015</span>
        <!--div class="text-block">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
        </div-->
    </div>
    <div class="item row">
        <a class="collection-photo fancybox" rel="group1" title="Коричневое платье в ретро стиле под заказ" href="/PNG/Коллекция%202015/_JxWLnxFKgc.jpg"><img src="/PNG/Коллекция%202015/_JxWLnxFKgc.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Коричневое платье в ретро стиле под заказ" href="/PNG/Коллекция%202015/4gYQLaH4BQg.jpg"><img src="/PNG/Коллекция%202015/4gYQLaH4BQg.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Коричневое платье в ретро стиле под заказ" href="/PNG/Коллекция%202015/7mBaXs07drE.jpg"><img src="/PNG/Коллекция%202015/7mBaXs07drE.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Коричневое платье в ретро стиле под заказ" href="/PNG/Коллекция%202015/ERw32F_UZGg.jpg"><img src="/PNG/Коллекция%202015/ERw32F_UZGg.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Коричневое платье в ретро стиле под заказ" href="/PNG/Коллекция%202015/ze8Hq6iEVe0.jpg"><img src="/PNG/Коллекция%202015/ze8Hq6iEVe0.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Белоснежная шифоновая блуза, размер 44, цена 350грн. <br> Шорты с завышенной талией, размер 44, цена 400грн.<br> Гипюровая накидка, размер 42-44, цена 250грн.<br> Материалы: натуральный шифон, костюмная ткань, гипюр." href="/PNG/Коллекция%202015/2Av31piNpqk.jpg"><img src="/PNG/Коллекция%202015/2Av31piNpqk.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Белоснежная шифоновая блуза, размер 44, цена 350грн. <br> Шорты с завышенной талией, размер 44, цена 400грн.<br> Гипюровая накидка, размер 42-44, цена 250грн.<br> Материалы: натуральный шифон, костюмная ткань, гипюр." href="/PNG/Коллекция%202015/5LdTJ2FLZ5k.jpg"><img src="/PNG/Коллекция%202015/5LdTJ2FLZ5k.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Белоснежная шифоновая блуза, размер 44, цена 350грн. <br> Шорты с завышенной талией, размер 44, цена 400грн.<br> Гипюровая накидка, размер 42-44, цена 250грн.<br> Материалы: натуральный шифон, костюмная ткань, гипюр." href="/PNG/Коллекция%202015/grNDwgswe9M.jpg"><img src="/PNG/Коллекция%202015/grNDwgswe9M.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Белоснежная шифоновая блуза, размер 44, цена 350грн. <br> Шорты с завышенной талией, размер 44, цена 400грн.<br> Гипюровая накидка, размер 42-44, цена 250грн.<br> Материалы: натуральный шифон, костюмная ткань, гипюр." href="/PNG/Коллекция%202015/hfHwBtRoOLU.jpg"><img src="/PNG/Коллекция%202015/hfHwBtRoOLU.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Белоснежная шифоновая блуза, размер 44, цена 350грн. <br> Шорты с завышенной талией, размер 44, цена 400грн.<br> Гипюровая накидка, размер 42-44, цена 250грн.<br> Материалы: натуральный шифон, костюмная ткань, гипюр." href="/PNG/Коллекция%202015/XPctLKLe1kA.jpg"><img src="/PNG/Коллекция%202015/XPctLKLe1kA.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Милое платье в цветы, размер 40, цена 500грн. <br> Материал: атлас, фатин черный, сзади на шнуровке." href="/PNG/Коллекция%202015/5yPXroQrUFk.jpg"><img src="/PNG/Коллекция%202015/5yPXroQrUFk.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Милое платье в цветы, размер 40, цена 500грн. <br> Материал: атлас, фатин черный, сзади на шнуровке." href="/PNG/Коллекция%202015/KnkuEUNzbss.jpg"><img src="/PNG/Коллекция%202015/KnkuEUNzbss.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Милое платье в цветы, размер 40, цена 500грн. <br> Материал: атлас, фатин черный, сзади на шнуровке." href="/PNG/Коллекция%202015/M_091I6kt9E.jpg"><img src="/PNG/Коллекция%202015/M_091I6kt9E.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Черный бархатный гольф, размер 42-44, цена 350грн. <br> Материал: бархат, гипюр." href="/PNG/Коллекция%202015/343UXMgeq8Y.jpg"><img src="/PNG/Коллекция%202015/343UXMgeq8Y.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Черный бархатный гольф, размер 42-44, цена 350грн. <br> Материал: бархат, гипюр." href="/PNG/Коллекция%202015/DSC_7482.JPG"><img src="/PNG/Коллекция%202015/DSC_7482.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Черный бархатный гольф, размер 42-44, цена 350грн. <br> Материал: бархат, гипюр." href="/PNG/Коллекция%202015/fEfx-NLxm9U.jpg"><img src="/PNG/Коллекция%202015/fEfx-NLxm9U.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Юбка-миди в клетку, размер 44, цена 350грн. <br> Материал: костюмная шерсть." href="/PNG/Коллекция%202015/lX0gUVZqYLw.jpg"><img src="/PNG/Коллекция%202015/lX0gUVZqYLw.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Юбка-миди в клетку, размер 44, цена 350грн. <br> Материал: костюмная шерсть." href="/PNG/Коллекция%202015/DSC_7562.JPG"><img src="/PNG/Коллекция%202015/DSC_7562.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Юбка-миди в клетку, размер 44, цена 350грн. <br> Материал: костюмная шерсть." href="/PNG/Коллекция%202015/DSC_7608.JPG"><img src="/PNG/Коллекция%202015/DSC_7608.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Юбка-миди в клетку, размер 44, цена 350грн. <br> Материал: костюмная шерсть." href="/PNG/Коллекция%202015/mX1ysaTjm6E.jpg"><img src="/PNG/Коллекция%202015/mX1ysaTjm6E.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Гипюровая блуза, размер 42, цена 500грн. <br> Материал: основа трикотаж, сверху гипюр золотого цвета, сбоку на молнии." href="/PNG/Коллекция%202015/DSC_7418.JPG"><img src="/PNG/Коллекция%202015/DSC_7418.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Гипюровая блуза, размер 42, цена 500грн. <br> Материал: основа трикотаж, сверху гипюр золотого цвета, сбоку на молнии." href="/PNG/Коллекция%202015/D6QVS6O7WO8.jpg"><img src="/PNG/Коллекция%202015/D6QVS6O7WO8.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Гипюровая блуза, размер 42, цена 500грн. <br> Материал: основа трикотаж, сверху гипюр золотого цвета, сбоку на молнии." href="/PNG/Коллекция%202015/DSC_7397.JPG"><img src="/PNG/Коллекция%202015/DSC_7397.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Гипюровая блуза, размер 42, цена 500грн. <br> Материал: основа трикотаж, сверху гипюр золотого цвета, сбоку на молнии." href="/PNG/Коллекция%202015/MYXRBrIkgVw.jpg"><img src="/PNG/Коллекция%202015/MYXRBrIkgVw.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/DSC_7291.JPG"><img src="/PNG/Коллекция%202015/DSC_7291.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/DSC_7380.JPG"><img src="/PNG/Коллекция%202015/DSC_7380.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/E8u5HLMCTAI.jpg"><img src="/PNG/Коллекция%202015/E8u5HLMCTAI.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/etaG1AgCYYI.jpg"><img src="/PNG/Коллекция%202015/etaG1AgCYYI.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/g93YMf9hLsg.jpg"><img src="/PNG/Коллекция%202015/g93YMf9hLsg.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Шелковый корсет, фатиновая юбка и болеро под заказ." href="/PNG/Коллекция%202015/V1jCXCmqDA4.jpg"><img src="/PNG/Коллекция%202015/V1jCXCmqDA4.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Вечернее платье из тафты и гипюра под заказ." href="/PNG/Коллекция%202015/DSC_7458.JPG"><img src="/PNG/Коллекция%202015/DSC_7458.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Вечернее платье из тафты и гипюра под заказ." href="/PNG/Коллекция%202015/DSC_7439.JPG"><img src="/PNG/Коллекция%202015/DSC_7439.JPG" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Вечернее платье из тафты и гипюра под заказ." href="/PNG/Коллекция%202015/OtqoJGTtS0M.jpg"><img src="/PNG/Коллекция%202015/OtqoJGTtS0M.jpg" alt="Коллекция 2015"/></a>

        <a class="collection-photo fancybox" rel="group1" title="Платье-футляр из костюмной ткани под заказ." href="/PNG/Коллекция%202015/fmmFnklSXnI.jpg"><img src="/PNG/Коллекция%202015/fmmFnklSXnI.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Платье-футляр из костюмной ткани под заказ." href="/PNG/Коллекция%202015/q0vsLUmDIoY.jpg"><img src="/PNG/Коллекция%202015/q0vsLUmDIoY.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Платье-футляр из костюмной ткани под заказ." href="/PNG/Коллекция%202015/uoX5N1g6484.jpg"><img src="/PNG/Коллекция%202015/uoX5N1g6484.jpg" alt="Коллекция 2015"/></a>
        <a class="collection-photo fancybox" rel="group1" title="Платье-футляр из костюмной ткани под заказ." href="/PNG/Коллекция%202015/VJRxcfv3Fbo.jpg"><img src="/PNG/Коллекция%202015/VJRxcfv3Fbo.jpg" alt="Коллекция 2015"/></a>
    </div>
    <div class="item block-video">
        <div>
            <iframe width="543" height="400" src="https://www.youtube.com/embed/t5E-X7bswPY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-block margin-left">
            <div class="title">Коллекция 2015</div>
            <div class="text">
                Коллекция представляет собой сочетание классического офисного стиля и немного нарядных вечерних нарядов. Сиреневое платье из тафты и кружева в стиле “русалка” или  шелковый корсет с пышной фатиновой юбкой пробуждают желание быть эффектной и соблазнительной, восхищать и сводить с ума.<br>
                В весенне-летний период на работе  в офисе хочется выглядеть свежо и ярко, уйти от скучной строгости и оставаться привлекательными. Совмещая  классический  стиль и модные тенденции, можно  быть не только практичной и сдержанной, но также стильной и, несомненно, женственной.<br>
                Поэтому в  этой коллекции использовались одновременно благородные ткани, такие как бархат, гипюр, кружево, шифон, шелк и более практичные:трикотаж, атлас, фатин. И куда же без  красочного цветочно-растительного принта  для легкого летнего платья. Для  юбки миди и шортиков с завышенной талией - более лаконичный вариант в виде клетки.<br>
                Второй раз образы в коллекции дополнили акссесуары от фирмы Сказочные камни.<br>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
<ul class="list-menu">
    <li><a href="/about">О нас</a></li>
    <li><a href="/news">Новости</a></li>
    <li><a href="/collections" class="active">Коллекции</a></li>
    <li><a href="/actions">Акции</a></li>
    <li class="last"><a href="/contacts">Контакты</a></li>
</ul>
{% endblock %}