{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="/english">EN</a>
                </div>
                <ul class="list-menu">
                    <li><a href="/news">- О нас -</a></li>
                    <li><a href="/about">- Прейскурант -</a></li>
                    <li><a href="/collections" class="active">- Коллекции -</a></li>
                    <li><a href="/actions">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
<main class="collection-page">
    <div class="top-block bg-small">
        <span>Коллекции</span>
    </div>
    <div class="item">
        <div class="photo"><img src="/png/DSC_3814Pre_Jeneral.jpg" alt="collection 2015 autumn"/></div>
        <a href="/collections/2015-autumn" class="text-block">
            <div class="title">Осенняя коллекция 2015</div>
            <div class="text">Дизайн-студия вдохновилась красотой осенней природы и передала ее в своей коллекции. Было решено не отпускать лето, обновляя свой осенний гардероб одеждой ярких цветов: солнечный желтый или  огненно-оранжевый должен присутствовать как в романтических нарядах, так и в офисных платьях.  Это  гипюровая кофточка и пышная юбка- миди, низ которой украшен вышивкой из золотой нити.  Длинное вечернее платье пошито из гофрированного атласа цветочного принта, спинка украшена гипюровой вставкой. В коллекции есть платье-изюминка в стиле пэчворк,  сочетание кусков вельвета и кожзама в одном изделии. И  куда же осенью без модной одежды под змеиную кожу. И в нашей коллекции она сочетается с шелком и атласом. Стильный жакет из твида с ¾ рукавом, застёгивающийся на потайные крючки и украшен шикарной брошью - идеальная вещь для офиса и прогулок прохладным вечером. Носите жакет с юбками и брюками и будьте неотразимы!
                <br><span>Каталог</span>
            </div>
        </a>
    </div>
    <div class="item">
        <div class="photo"><img src="/png/32.png" alt="collection 2015"/></div>
        <a href="/collections/2015" class="text-block">
            <div class="title">Коллекция 2015</div>
            <div class="text">Коллекция представляет собой сочетание классического офисного стиля и немного нарядных вечерних нарядов. Сиреневое платье из тафты и кружева в стиле “русалка” или  шелковый корсет с пышной фатиновой юбкой пробуждают желание быть эффектной и соблазнительной, восхищать и сводить с ума.<br>
                В весенне-летний период на работе  в офисе хочется выглядеть свежо и ярко, уйти от скучной строгости и оставаться привлекательными. Совмещая  классический  стиль и модные тенденции, можно  быть не только практичной и сдержанной, но также стильной и, несомненно, женственной.<br>
                Поэтому в  этой коллекции использовались одновременно благородные ткани, такие как бархат, гипюр, кружево, шифон, шелк и более практичные:трикотаж, атлас, фатин. И куда же без  красочного цветочно-растительного принта  для легкого летнего платья. Для  юбки миди и шортиков с завышенной талией - более лаконичный вариант в виде клетки.<br>
                Второй раз образы в коллекции дополнили акссесуары от фирмы Сказочные камни.
                <br><span>Каталог</span>
            </div>
        </a>
    </div>
    <div class="item">
        <div class="photo"><img src="/png/31.png" alt="collection 2014"/></div>
        <a href="/collections/2014" class="text-block">
            <div class="title">Коллекция 2014</div>
            <div class="text">Летняя мода приносит с собой взрыв насыщенных и живых цветов, дающих жизнь новому стилю, динамичному и солнечному.<br>
                Потрясающие цветовые сочетания, цветочно-растительный принт,  асимметричный рукав, модные летние принты и расцветки, модные силуэты в каждом наряде. И куда же без кружева, которое никогда не выйдет из моды.<br>
                В коллекции также присутствуют несколько вечерних нарядов и одно свадебное.<br>
                Элегантность и чувственность необычного бело-голубого свадебного платья на одно плечо переплетается с легкостью и невесомостью длинной шифоновой юбки со шлейфом. С уверенностью могу сказать, что самые романтичные модели —с кружевом и шифоном.<br>
                Коллекцию дополняют акссесуары от фирмы Сказочные камни и обруч с цветами от дизайнера Елены Мартыненко.
                <br><span>Каталог</span>
            </div>
        </a>
    </div>
</main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/news">О нас</a></li>
        <li><a href="/about">Прейскурант</a></li>
        <li><a href="/collections" class="active">Коллекции</a></li>
        <li><a href="/actions">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}