{% extends "/default/index.html.twig" %}
    {% block header %}
        <header class="new-header">
            <div class="center-block">
                <a class="logo-link" href="/"></a>
                <ul class="list-menu">
                    <li><a href="/about">- О нас -</a></li>
                    <li><a href="/news">- Новости -</a></li>
                    <li><a href="/collection">- Коллекции -</a></li>
                    <li><a href="/action" class="active">- Акции -</a></li>
                    <li><a href="/contacts">- Контакты -</a></li>
                </ul>
                <div class="lang">
                    <a href="#">RU</a>
                    /
                    <a href="#">EN</a>
                </div>
                <div class="top-line"></div>
            </div>
        </header>
    {% endblock %}
{% block main %}
    <main class="page-action">
        <div class="top-block">
            <span>Распродажа свадебных аксессуаров</span>
            <!--div class="text-block">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </div-->
        </div>
        <div class="item row">
            <a class="collection-photo fancybox" rel="group1" title="Свечи венчальные и для семейного очага, цена 30грн-пара." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140013.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140013.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи венчальные и для семейного очага, 50грн-пара." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140052.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140052.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бутоньерки разных цветов и кол-ва, цены от 5 до 20грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140830.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_140830.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свеча венчальная, 1шт. 50грн.Цвет: бежевый, голубой, красный." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141248.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141248.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Перчатки белые и бежевые длинные, в наличии много штук, 1 пара-50грн., есть с декором от 70грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141507.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141507.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бокалы цветные с разными надписями, цена 1 пара-100грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141928.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_141928.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи по 50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142100.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142100.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бокалы из богемского стекла, с декором 150грн-1 пара." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142530.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142530.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бокалы из богемского стекла, с декором 150грн-1 пара." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142622.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_142622.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Цветы разного размера для декора или одежды, цены от 5 грн и до 50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_151510.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_151510.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Пригласительные разного размера, кол-во большое, цены от 5грн за 1шт. и до 15грн за 1шт." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154007.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154007.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи сердечки, 1шт-70грн., есть разные оттенки." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154519.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154519.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи семейный очаг, 1шт.80грн., цвета разные." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154706.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154706.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи семейный очаг, 1шт.80грн., цвета разные." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154929.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_154929.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свеча семейный очаг, 1шт.100грн, цвет- бежевый." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_155423.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_155423.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бокалы ручной работы, в наличии с зеленой росписью, цена 150грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164525.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164525.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бокалы ручной работы, в наличии с розовыми цветами, цена 150грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164650.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_164650.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи семейный очаг, цена за 1шт. 70грн., цвета есть разные." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_165237.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_165237.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи семейный очаг, цена за 1шт. 70грн., цвета есть разные." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_165247.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_165247.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Рушныки от 10грн и до 50грн. за 1шт." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_171118.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150606_171118.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Подушечка 30грн, статуэтка 50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150615_110210.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150615_110210.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Подушечка 30грн, статуэтка 50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150615_110228.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150615_110228.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Подушечки по 30грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_153303.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_153303.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Корзинки для цветов по 50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_153406.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_153406.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Перчатки белые и бежевые с декором 1 пара- 70грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_162311.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_162311.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Цветные перчатки по 30грн.-50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_165351.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_165351.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Сумочки 1шт.-50грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_181533.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_181533.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Лента на машину 1шт.-20грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_181858.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_181858.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Наклейки 1шт.-10грн, надписи разные." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_183226.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_183226.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата вышитая стеклярусом, цвет белый, цена 200грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_192335.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_192335.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_192520.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_192520.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Бижутерия от 50грн и до 150грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_193451.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150616_193451.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135035.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135035.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="" href="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135201.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135201.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Свечи семейный очаг 1шт.-80грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135212.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150727_135212.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата с воздушными цветочками, цвет бежевый, цена 500грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_1_644x461_rasprodazha-vyshitye-faty-kiev_rev031.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_1_644x461_rasprodazha-vyshitye-faty-kiev_rev031.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата вышитая Роза, размеры фат разные, цвет белый, бежевый, капучино, золото. Цена 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_3_644x461_rasprodazha-vyshitye-faty-svadebnye-aksessuary_rev031.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_3_644x461_rasprodazha-vyshitye-faty-svadebnye-aksessuary_rev031.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата вышитая Роза, цвет капучино, цена 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_6_644x461_rasprodazha-vyshitye-faty-_rev031.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_6_644x461_rasprodazha-vyshitye-faty-_rev031.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата вышитая белая, размер прямоугольный, цена 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_7_644x461_rasprodazha-vyshitye-faty-_rev031.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_7_644x461_rasprodazha-vyshitye-faty-_rev031.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Фата вышитая Вензеля, цвет белый, цена 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_8_644x461_rasprodazha-vyshitye-faty-_rev031.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/214975558_8_644x461_rasprodazha-vyshitye-faty-_rev031.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Диадемы американского производства, цены от 200грн и до 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130135.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130135.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Диадемы американского производства, цены от 200грн и до 400грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130234.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130234.jpg" alt="Распродажа свадебных аксессуаров"/></a>
            <a class="collection-photo fancybox" rel="group1" title="Гребешки, цены от 200грн до 300грн." href="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130340.jpg"><img src="/PNG/Распродажа%20свадебных%20аксессуаров/20150524_130340.jpg" alt="Распродажа свадебных аксессуаров"/></a>
        </div>
    </main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/collection">Коллекции</a></li>
        <li><a href="/action" class="active">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}