{% extends "/default/index.html.twig" %}
    {% block header %}
<header class="new-header">
    <div class="center-block">
        <a class="logo-link" href="/"></a>
        <ul class="list-menu">
            <li><a href="/about">- О нас -</a></li>
            <li><a href="/news" class="active">- Новости -</a></li>
            <li><a href="/collections">- Коллекции -</a></li>
            <li><a href="/actions">- Акции -</a></li>
            <li><a href="/contacts">- Контакты -</a></li>
        </ul>
        <div class="lang">
            <a href="#">RU</a>
            /
            <a href="#">EN</a>
        </div>
        <div class="top-line"></div>
    </div>
</header>
    {% endblock %}
{% block main %}
<main class="news-page">
    <div class="top-block">
        <span>Новости</span>
    </div>
    <div class="item">
        <div class="photo">
            <img src="/PNG/11224889_1905818479642423_8620755542393573195_o.jpg" alt="Kyiv Market">
        </div>
        <div class="text-block">
            <div class="title">Kyiv Market</div>
            <div class="text">
                Совсем скоро, в это воскресенье 13 сентября мои наряды можно будет приобрести на фестивале Kyiv Market в шоу-руме Fashionclub. В наличии коллекция 2015, а также новые наряды для вашего осеннего гардероба.
                <!--br><span>Подробнее</span-->
            </div>
        </div>
    </div>
    <div class="item">
        <div class="photo">
            <img src="/PNG/KYY_40931111.jpg" alt="Vitalina Filipchuk">
        </div>
        <a href="/news/page" class="text-block">
            <div class="title">Дизайнер Виталина Филипчук предлагает</div>
            <div class="text">
                 широкий спектр  услуг в области разработки и пошива женской одежды:<br>
                - индивидуальная работа с клиентом, разработка и консультации;<br>
                - выезд вместе с клиентом по магазинам ткани, помощь в подборе ткани и фурнитуры, возможность примерки на дому;<br>
                - создание классической деловой женской одежды;<br>
                - создание нарядной одежды ( свадебные и вечерние платья).<br>
                <br><span>Подробнее</span>
            </div>
        </a>
    </div>
    <div class="video-block">
        <div class="item">
            <div class="title">backstage VitalinaFilipchuk 2015</div>
            <iframe width="400" height="225" src="https://www.youtube.com/embed/t5E-X7bswPY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
            <div class="title">Летняя коллекция одежды 2014 Fashion Designer</div>
            <iframe width="400" height="225" src="https://www.youtube.com/embed/RueNgWqUWoo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
            <div class="title">VitalinaFilipchuk CITY</div>
            <iframe width="400" height="225" src="https://www.youtube.com/embed/RmzPwvCT8Y8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
            <div class="title">VitalinaFilipchuk Backstage Летняя коллекция одежды 2014</div>
            <iframe width="400" height="225" src="https://www.youtube.com/embed/l3ZRT-KuJgY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
    <ul class="list-menu">
        <li><a href="/about">О нас</a></li>
        <li><a href="/news" class="active">Новости</a></li>
        <li><a href="/collections">Коллекции</a></li>
        <li><a href="/actions">Акции</a></li>
        <li class="last"><a href="/contacts">Контакты</a></li>
    </ul>
{% endblock %}